@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*,
::before ,
::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a,
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
img{
    vertical-align: top;
}
html{
    font-size: 18px;
}
body{
    line-height: 1;
}
.wrapper{
    min-height: 100%;
	overflow: hidden;  
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    border-image: url(../img/line.png);
    max-width: 1020px;
    margin: 110px 202px 300px 218px;
}
.header {
    max-width: 583px;
}
.header__subtitle {
padding-left: 32px;
font-weight: 700;
font-size: 12px;
line-height: 24px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5;
margin-bottom: 33px;
background-image: url(../img/icon.png);
background-repeat: no-repeat;
display: inline-block;
}
.header__subtitle::before{

}
.header__title {
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
padding-bottom: 78px;
}
.cards {
    text-align: center;

}
.card {
    max-width: 324px;
    height: 340px;
    display: inline-block;
    text-align: center;
    padding-left: 43px  ;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.card:hover{
    box-shadow: -1px -1px 16px 0px rgba(0,0,0,1);
    border-radius: 14px;
}
.item {
    margin-bottom: 33px;
}
.card__title {
font-weight: 900;
font-size: 19px;
line-height: 26px;
text-align: center;
color: #F2726F;
}
.card__text {
font-weight: 400;
font-size: 16px;
color: #4B4B4B;
}
.bot__nuz{
    text-align: center;
}
.bot {
display: inline-block;
font-weight: 700;
font-size: 12px;
line-height: 24px;
text-align: center;
letter-spacing: 0.15px;
text-transform: uppercase;
color: #FFFFFF;
border-radius: 2px;
max-width: 124px;
max-height: 48px;
background-color: rgb(203, 25, 25);
padding: 9px 12px ;
border-radius: 15px;
}